.container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

#img {
  width: 100%;
  display: block;
}

.all__bells {
  width: 100%;
  max-width: 250px;
  position: absolute;
  top: 55.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 3rem;
}

.small__bells {
  display: flex;
  justify-content: space-between;

  margin-left: 2%;
}

.big__bells {
  display: flex;
  justify-content: center;
  gap: 3rem;

  margin-left: 10%;
}

.bell {
  box-sizing: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
}

button:focus,
.bell:focus,
button:active,
.bell:active {
  outline: none;
  box-shadow: none;
  background: none;
  border: none;

  -webkit-tap-highlight-color: transparent;
}

.bell.a {
  width: 26%;
  height: 65px;
}

.bell.b {
  width: 20%;
  height: 55px;
}

.bell.c {
  width: 17%;
  height: 45px;
}

.bell.d {
  width: 15%;
  height: 38px;
}

.bell.e {
  width: 12%;
  height: 30px;
}

.bell.f {
  width: 25%;
  height: 75px;
}

.bell.g {
  width: 30%;
  height: 80px;
}

.bell.x {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -60px;
  margin-left: -75px;

  width: 55px;
  height: 75px;
}

.bell.y {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -65px;
  margin-right: -70px;

  width: 55px;
  height: 70px;
}

.bell.z {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -85px;
  margin-right: -105px;

  width: 55px;
  height: 65px;
}

.container__information {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10%;
  
  box-sizing: border-box;

  font-size: 18px;
}

.inner__text {
  font-size: 20px;
  line-height: 1.5;
}
.metronome {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: start;

  gap: 15%;
}

.on__off__button {
  width: 70px;
  height: 35px;
  
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  
  text-align: center;
  line-height: 35px;
  
  background-color: #42aaff;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.on__off__button:focus {
  outline: none;
  background-color: #42aaff;
}

.on__off__button:active {
  animation: spring 1s ease;
  background-color: #2399fa;
}

@keyframes spring {
  0% {
    transform: scale(0.90);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.frequency-select {
  display: flex;
  gap: 20%;
}

.frequency-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frequency-option label {
  margin-top: 15%;
}

.metronome__text {
  margin-top: 10%;
  font-size: 20px;
  display: flex;
  justify-content: end;
}

@media (max-width: 700px) {
  .all__bells {
    max-width: 220px;
    top: 55%;
    left: 49.5%;

    gap: 2rem;
  }

  .big__bells {
    margin-left: 12%;
    gap: 2.5rem;
  }

  .inner__text {
    font-size: 16px;
  }

  .metronome__text {
    margin-top: 2%;
    font-size: 16px;
  }
}

@media (max-width: 620px) {
  .bell.x {
    margin-bottom: -55px;
    margin-left: -55px;
  
    width: 50px;
    height: 70px;
  }
  
  .bell.y {
    margin-bottom: -55px;
    margin-right: -55px;
  
    width: 50px;
    height: 65px;
  }
  
  .bell.z {
    margin-bottom: -70px;
    margin-right: -90px;
  
    width: 50px;
    height: 60px;
  }
}

@media (max-width: 550px) {
  .all__bells {
    max-width: 178px;
    top: 55%;
    left: 50%;

    gap: 2rem;
  }

  .big__bells {
    margin-left: 12%;
    gap: 2.2rem;
  }

  .bell.a {
    height: 50px;
  }
  
  .bell.b {
    height: 35px;
  }
  
  .bell.c {
    height: 28px;
  }
  
  .bell.d {
    height: 23px;
  }
  
  .bell.e {
    height: 18px;
  }
  
  .bell.f {
    height: 54px;
  }
  
  .bell.g {
    height: 60px;
  }

  .container__information {
    font-size: 14px;
    gap: 5%;
  }

  .metronome {
    width: 200px;
    gap: 15%;
  }
  
  .on__off__button {
    width: 60px;
    height: 30px;

    line-height: 30px;
    font-size: 12px;
  }

  .frequency-select {
    gap: 10%;
  }
  
  .inner__text {
    font-size: 14px;
  }

  .metronome__text {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .all__bells {
    max-width: 160px;
    top: 55%;
    left: 50%;

    gap: 1.4rem;
  }

  .big__bells {
    gap: 1.9rem;
  }

  .bell.x {
    margin-bottom: -45px;
    margin-left: -48px;
  
    width: 40px;
    height: 60px;
  }
  
  .bell.y {
    margin-bottom: -45px;
    margin-right: -48px;
  
    width: 40px;
    height: 55px;
  }
  
  .bell.z {
    margin-bottom: -58px;
    margin-right: -70px;
  
    width: 40px;
    height: 50px;
  }
}

@media (max-width:450px) {
  .inner__text {
    font-size: 12px;
  }

  .metronome__text {
    font-size: 12px;
  }

  .bell.x {
    margin-bottom: -35px;
    margin-left: -38px;
  
    width: 35px;
    height: 55px;
  }
  
  .bell.y {
    margin-bottom: -35px;
    margin-right: -34px;
  
    width: 35px;
    height: 50px;
  }
  
  .bell.z {
    margin-bottom: -45px;
    margin-right: -55px;
  
    width: 35px;
    height: 45px;
  }
}

@media (max-width: 400px) {
  .all__bells {
    max-width: 125px;
    top: 54.5%;
    left: 50%;

    gap: 1.5rem;
  }

  .big__bells {
    margin-left: 10%;
    gap: 1.5rem;
  }

  .bell.a {
    height: 35px;
  }
  
  .bell.b {
    height: 30px;
  }
  
  .bell.c {
    height: 25px;
  }
  
  .bell.d {
    height: 20px;
  }
  
  .bell.e {
    height: 15px;
  }
  
  .bell.f {
    height: 35px;
  }
  
  .bell.g {
    height: 40px;
  }

  .bell.x {
    margin-bottom: -35px;
    margin-left: -38px;
  
    width: 30px;
    height: 40px;
  }
  
  .bell.y {
    margin-bottom: -35px;
    margin-right: -34px;
  
    width: 30px;
    height: 40px;
  }
  
  .bell.z {
    margin-bottom: -45px;
    margin-right: -55px;
  
    width: 30px;
    height: 35px;
  }

  .container__information {
    font-size: 10px;
    gap: 5%;
  }

  .metronome {
    width: 150px;
    gap: 6%;
  }
  
  .on__off__button {
    width: 45px;
    height: 25px;

    line-height: 25px;
    font-size: 11px;
  }

  .frequency-select {
    gap: 5%;
  }
  
  .inner__text {
    font-size: 9px;
  }

  .metronome__text {
    font-size: 9px;
  }
}

@media (max-width: 350px) {
  .all__bells {
    max-width: 110px;
    top: 54%;
    left: 50%;

    gap: 1rem;
  }

  .big__bells {
    margin-left: 10%;
    gap: 1.2rem;
  }

  .bell.a {
    height: 30px;
  }
  
  .bell.b {
    height: 25px;
  }
  
  .bell.c {
    height: 20px;
  }
  
  .bell.d {
    height: 18px;
  }
  
  .bell.e {
    height: 14px;
  }
  
  .bell.f {
    height: 35px;
  }
  
  .bell.g {
    height: 35px;
  }
}

@media (max-width:300px) {
  .bell.x {
    margin-bottom: -25px;
    margin-left: -20px;
  
    width: 20px;
    height: 30px;
  }
  
  .bell.y {
    margin-bottom: -25px;
    margin-right: -20px;
  
    width: 20px;
    height: 30px;
  }
  
  .bell.z {
    margin-bottom: -30px;
    margin-right: -30px;
  
    width: 20px;
    height: 25px;
  }
  
  .container__information {
    font-size: 8px;
    gap: 5%;
  }

  .metronome {
    width: 100px;
    gap: 6%;
  }
  
  .on__off__button {
    width: 30px;
    height: 15px;

    line-height: 15px;
    font-size: 6px;
  }

  .frequency-select {
    gap: 0;
  }
  
  .inner__text {
    font-size: 8px;
  }

  .metronome__text {
    font-size: 8px;
  }
}

@media (max-width: 250px) {
  .all__bells {
    max-width: 80px;
    top: 56%;
    left: 50%;

    gap: 1rem;
  }

  .big__bells {
    margin-left: 0%;
    gap: 0.5rem;
  }

  .bell.a {
    width: 20px;
    height: 20px;
  }
  
  .bell.b {
    width: 18px;
    height: 15px;
  }
  
  .bell.c {
    width: 12px;
    height: 12px;
  }
  
  .bell.d {
    width: 8px;
    height: 10px;
  }
  
  .bell.e {
    width: 2px;
    height: 8px;
  }
  
  .bell.f {
    height: 25px;
  }
  
  .bell.g {
    height: 30px;
  }
}
